.inventory-container {
    color: white;
}

.item-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Ensure elements can wrap if needed */
}

button {
    font-family: 'BronzPersonalUseOnly';
    padding: 8px;
    margin-left: 0.3rem;
}

input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.inventory > h3 {
    font-family: 'BronzPersonalUseOnly';
    margin: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 
        -1px -1px 0 #000,  /* Top-left shadow */
         1px -1px 0 #000,  /* Top-right shadow */
        -1px  1px 0 #000,  /* Bottom-left shadow */
         1px  1px 0 #000;  /* Bottom-right shadow */
}

.inventory-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

/* Media queries for responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .create-btn {
            margin: 0.5rem; 
            padding: 0.8rem 1rem;
        }

        .inventory-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            gap: 0;
            padding: 0.1rem;
        }
}

/* Smaller devices (320px wide) */
@media only screen and (max-width: 320px) {

    .item-bar > input {
        margin: 0rem 0.5rem;
        padding: 0.5rem;
    }

    .search-btn {
        margin: 0.5rem; /* Add space above the search button */
    }

    .create-btn {
        margin: 0rem 0.5rem;
    }
}