@font-face {
  font-family: 'BronzPersonalUseOnly';
  src: url('../public/fonts/Bronz\ PERSONAL\ USE\ ONLY!.otf') format('opentype'),
       url('../public/fonts/Bronz\ PERSONAL\ USE\ ONLY!.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('/shelves.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Times New Roman', Times, serif, 'BronzPersonalUseOnly';
  margin: 0;
  padding: 0;
}